.footer-title{
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.footer-title:hover{
    color: rgb(72, 99, 209)
}

.footer-index{
    overflow-wrap: break-word;
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;
    margin: 6px 0px;
}
.footer-index:hover{
    color: rgb(30, 67, 213)
}



