.logo-img{
    /* background-color: lightgrey;     */
    width: 100%;  
    cursor: pointer;    
}

.news-1-img{
    /* background-color: lightgoldenrodyellow; */
    object-fit: contain;
    width: 100%;
    cursor: pointer;
}

.news-2-img{
    object-fit: contain;
    width: 100%;
    cursor: pointer;
}