
.news-title{
    /* background-color: antiquewhite; */
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;;
    cursor: pointer;

    margin: 6px 0;
}
.news-title:hover{
    text-decoration: underline;
}
.news-title-smaller{
    font-size: 18px;
    line-height: 22px;
}

.news-info{
    /* background-color: lightcyan; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    cursor: pointer;

    margin:0;
}
.news-info-smaller{
    font-size: 16px;
    margin-bottom: 20px;
}

.news-1-line{
    font-weight: bolder;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.2);

    margin:0;
    padding: 0;
}





