table tr {
    border: 0px 0px 0px 0px; 
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);        
}

table th {
    align-items: center;
    height: 35px;
    border: 2px solid rgb(232, 232, 232);
}

.table-qtt {
    padding: 0px 10px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 25px;
    font-weight: bolder;
}

.table-text {
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
}
