/*----------header--------------------------- */
.menu-header-text{
    font-family: Arial;
    white-space: nowrap;
    cursor: pointer;
    transition: color 0.15s;
}
.menu-header-text:hover{
    color: rgb(51, 104, 219);
}

/* | */
.between-text{
    color:rgba(0, 0, 0, 0.4);
    margin-left: 10px;
}

/*---------------main-menu--------------------*/
.main-menu-text{
    font-weight: bold;
    padding: 12px;
    margin: 0;
    cursor: pointer;
}
.main-menu-text:hover{
    background-color: rgba(84, 6, 6, 0.684); 
}

/*---------------trending-tab--------------------*/
.trending-text{
    color: rgba(0, 0, 0, 0.8);    
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
   
    padding: 0px;
    margin: 8px 0px 8px 20px;
}
.trending-text:hover{
    color: black;
}

.trending-title-text{
    color: rgb(128, 9, 9);
    font-weight: normal;

    margin-left: 0;
}


.degree-text{
    color: green;
    margin: 0px;
}



