<div class="md:grid grid-cols-2 lg:grid-cols-[minmax(340px,_1fr)_340px_minmax(200px,300px)] gap-5">
    <div id="1a" class="mt-5 md:m-0">
        <app-news-card [newsInput]="highlightArticles[0]" [displayInput]="normalDisplay"></app-news-card>

        <app-news-card class="hidden md:block" [newsInput]="highlightArticles[1]" [displayInput]="noimgDisplay"></app-news-card>
    </div>
 
    
    <div id="lopp-in-md" class="block md:hidden">
        @for (item of mdArticles; track item.id){
            <app-news-card [newsInput]="item" [displayInput]="landscapeDisplay"></app-news-card>
        }
    </div>

    <div id="2a" class="hidden md:block">
        @for (item of normalArticles; track item.id){
            <app-news-card [newsInput]="item" [displayInput]="normalDisplay"></app-news-card>
        }
    </div>


    <div id="3" class="hidden lg:block">
        <div class="right-most-top">
            <span class="right-most-read">
                Most Read
            </span>
            <span class="right-most-comment">
                Most Commented
            </span>
        </div>
        <app-news-scrolling [scrollingInput]="scrollingArticles"></app-news-scrolling>
    </div>
</div>




<!-- <mat-grid-list rowHeight="180px" cols="4" gutterSize="20px">
    
    <mat-grid-tile id="1a" class="bg-blue-200" colspan="2" rowspan="3">
        <app-news-card [newsInput]="highlightArticles[0]" [displayInput]="normalDisplay"></app-news-card>
    </mat-grid-tile>

    <mat-grid-tile id="2a" class="bg-red-200" colspan="1" rowspan="2">
        <app-news-card [newsInput]="normalArticles[0]" [displayInput]="normalDisplay"></app-news-card>
    </mat-grid-tile>
    
    <mat-grid-tile id="3" class="bg-yellow-200" colspan="1" rowspan="2">
        3
    </mat-grid-tile>

    <mat-grid-tile id="2b" class="bg-green-200" colspan="1" rowspan="2">
        <app-news-card [newsInput]="normalArticles[1]" [displayInput]="normalDisplay"></app-news-card>
    </mat-grid-tile>

    <mat-grid-tile id="1b" class="bg-purple-200" colspan="2" rowspan="1">
        <app-news-card [newsInput]="highlightArticles[1]" [displayInput]="noimgDisplay"></app-news-card>
    </mat-grid-tile>
    
</mat-grid-list> -->