.card-news {
    border-radius: 0%;
}

.card-img {
    
}

.card-title {
    background-color: antiquewhite;
    margin: 10px 0;
    font-weight: bold;    
    line-height: 28px;
}

.card-content {

    background-color: lightcyan;
    padding-left: 0px !important;
}