/* 
.footer-left{background-color: lightcyan}
.footer-collumns{background-color: lightyellow}
.footer-title{background-color: lightskyblue}
.footer-index{background-color: lightpink} */

.footer{
    background-color: rgb(220, 219, 219);
    display: grid;
    grid-template-columns: minmax(0,10fr) minmax(0, 4fr);
    border-top: 1px solid rgb(185, 184, 184) ;

    padding: 10px 20px;
}

.footer-left{
    display: grid;
    grid-template-columns:  repeat(10, minmax(auto,1fr));
}

.footer-collumns{    
    margin: 10px 8px 0 0;
}

.footer-title{
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;

    margin: 0 0 15px 0;
}
.footer-title:hover{
    color: lightskyblue
}

.footer-index{
    overflow-wrap: break-word;
    cursor: pointer;
    margin: 6px 0px;
}
.footer-index:hover{
    color: lightskyblue
}


/* .footer-right{background-color: lightsteelblue;}
.footer-contact{background-color: lightslategray}
.footer-contact-info{background-color: lightyellow}
.footer-download{background-color: lightslategray}
.footer-download-info{background-color: lightyellow}
.footer-contact{background-color: lightcyan;}
.footer-download{background-color: lightskyblue;}
.footer-download-e{background-color: antiquewhite;}
.icon-group{background-color: lemonchiffon} */

.footer-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.footer-contact{
    border-left: 1px solid rgb(185, 184, 184);
    padding-left: 15px;
}

.footer-download{    
    margin-left: 25px;
}

.footer-download-e{
    display:flex;
    align-items: center;
    margin: 10px 0;
}

.icon-group{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

/* .footer-info{background-color: lightcyan}
.footer-info-collumns{background-color: lightskyblue} */

.footer-info{
    font-size: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-info-collumns{
    margin: 0 20px;
}

