body{
    font-family: "Montserrat";
    font-size: 12px;
    box-sizing: border-box;
    margin: 0px;
    margin-bottom: 1000px;
}


/*----------general------------------------- */
.general{
    display: grid;
    grid-template-columns: minmax(10px,1fr) minmax(100px,1260px) minmax(10px,1fr);

    margin: 10px 0px;
}


/*----------header--------------------------- */

/* .header{background-color: lightpink}
.left-header{background-color: lightblue}
.mid-header{background-color: lightyellow}
.right-header{background-color: lightblue} */

.header{           
    display: grid;
    grid-template-columns: minmax(130px,190px) minmax(0,1fr) minmax(0, 620px);
}

.left-header{
    object-fit: contain;
    margin-right: 25px;
}

.mid-header{
    display: flex;
    align-items: center;
}

.right-header{
    display: grid;
    grid-template-columns: repeat(20,minmax(auto,1fr)) ;
    align-items: center;
}


/*---------------main-menu--------------------*/
.main-menu{
    background-color: rgb(147, 32, 72);    
    display: grid;
    grid-template-columns: 1fr 120px;
}


.left-main-menu{
    display: flex;
    align-items: center;

    padding-left: 10px;
}

.right-main-menu{
    display: flex;    
    align-items: center;
}



/*---------------trending-tab--------------------*/

/* .trending-tab{background-color: lightgreen}
.left-trending-tab{background-color: lightblue}
.right-trending-tab{background-color: lightgoldenrodyellow} */

.trending-tab{
    display: grid;
    grid-template-columns: 1fr minmax(0, 220px);    
}
.trending-tab-left{
    display: grid;
    grid-template-columns: minmax(80px, 1fr) repeat(6,minmax(auto,1fr)) ;

}




/*---------------news--------------------*/

/* .news-left{background-color: lightblue}
.news-mid{background-color: lightpink}
.news-right{background-color: lightblue} */

.news{
    display: grid;
    grid-template-columns: minmax(150px,1fr) 340px 300px;
}
.news-mid{
    margin: 0px 20px;    
}
.news-right{
    height: 520px;
}


/*---------------back to top--------------------*/
.back-to-top{
    background-color: rgb(220, 219, 219);
    border-top: 3px solid rgb(185, 184, 184) ;

    margin: 0px;
    padding: 10px;
}
