.header-section{
    /* background-color: lightpink; */
    display: flex;
    height: 70px;
    padding-right: 20px;
    padding-left: 20px;
    
}

.left-header-section{    
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
}

.mid-header-section{
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1000px;
    
}

.right-header-section{
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
}

.menu-header-text{
    /* background-color: lightgoldenrodyellow; */
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.between-text{
    color:rgba(0, 0, 0, 0.4);
    margin-left: 5px;
    margin-right: 5px;
}

.menu-header-text:hover{
    color: rgb(51, 104, 219);
}