.search-bar{
    background-color: lightgray;
    border: none;
    font-size: 13px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    width: 150px;
    display: none;
}

.icon-header{
    width: 15px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 6px;
}

.icon-weather{
    width:30px;
    cursor: pointer;
}
.icon-person{
    opacity: 0.5;
    width: 30px;
}


.icon-home{    
    background-color: rgba(84, 6, 6, 0.684); 
    height: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0px;
    cursor: pointer;
}

.icon-phone{
    height: 13px;
    opacity: 0.3;
    margin-right: 5px;
}

.icon-e{
    width: 21px;
    margin-right: 10px;
}


.icon-apple{
    height: 24px;
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    margin-bottom: -3px;
}

.icon-ggplay{
    height: 24px;
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;

}

.icon-qr{
    height: 54px;
}