.news-1-img{
    /* background-color: lightgoldenrodyellow; */
    object-fit: contain;
    width: 620px;
    cursor: pointer;
}

.news-2-img{
    object-fit: contain;
    width: 300px;
    cursor: pointer;
}