body{
    font-family: Arial;
}

.header-section{
    background-color: lightpink;
    display: flex;
    align-items: center;    
    height: 70px;

}

.left-header-section{    
    background-color: lightblue;
    display: flex;    
    align-items: center;        

}
.slogan{
    background-color: lightcyan;
    display: inline;
    
}

.right-header-section{
    background-color: lightblue;
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.menu-header{
    background-color: lightgoldenrodyellow;
    font-size: 15px;
    margin-left: 10px;
}