.news-title{
    /* background-color: antiquewhite; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;;
    margin-top: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}
.news-title:hover{
    text-decoration: underline;
}
.news-title-smaller{
    font-size: 18px;
    line-height: 22px;
}

.news-info{
    /* background-color: bisque; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}
.news-info-smaller{
    font-size: 15px;
    margin-bottom: 20px;
}

.news-1-line{
    font-weight: bolder;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0;
}





