.paper{
    /* background-color: lightpink; */
    font-family: Arial, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}
.trending-news{
    display: flex;
    /* height: 1000px; */
}
.news-left{
    /* background-color: lightblue; */
    max-width: 620px ;      
}
.news-mid{
    /* background-color: lightpink; */
    width: 300px;
    padding-left: 20px;
    
}
.news-right{
    /* background-color:lightpink;  */
    /* border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 2px; */
    width: 300px;
    height: 520px;
    
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;

    margin-left: 20px;
}

