/*----------header--------------------------- */
.menu-header-text{
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    cursor: pointer;
}
.menu-header-text:hover{
    color: rgb(51, 104, 219);
}

/* | */
.between-text{
    color:rgba(0, 0, 0, 0.4);
    transition: color 0.15s;

    margin: 0px 10px;
}


/*---------------main-menu--------------------*/
.main-menu-text{
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    
    padding: 10px;
    margin: 0px;
}

.main-menu-text:hover{
    background-color: rgba(84, 6, 6, 0.684); 
}


/*---------------trending-tab--------------------*/
.trending-text{
    color: rgba(0, 0, 0, 0.8);    
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
   
    padding: 0px;
    margin: 8px 20px 8px 0;
}
.trending-text:hover{
    color: black;
}

.trending-title-text{
    color: rgb(128, 9, 9);
    font-weight: normal;
}


.degree-text{
    color: green;
    margin: 0px;
}



