.trending-tab{
    background-color: lightgreen;
    display: flex;
    height: 40px;
}

.left-trending-tab{
    /* background-color: lightblue; */
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 1640px;
}

.trending-text{
    /* background-color: aliceblue; */
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    margin-left:30px;
}

.trending-title-text{
    color: rgb(128, 9, 9);
    font-weight: lighter;    
    margin-left: 0px;
}

.right-trending-tab{
    background-color: lightgoldenrodyellow;
    display: flex;
    align-items: center;    
}
.degree-text{
    color: green;
}